.childlistspacer		{ height: 1ex; }
.childlistphoto			{ text-align: center; width: 1px; }
.childlistinfo			{ text-align:   left; }
.childlistfio			{ font-weight: bold; }

.childviewphoto			{ text-align: center; width: 1px; }
.childviewinfo			{ text-align:   left; }
.childviewfio			{ font-weight: bold; }
.childviewbirthday		{ padding-left: 2em; }
.childviewcomment		{ text-align: justify; padding-left: 0em; margin-top: 1em; }

.childarticlespacer		{ height: 1ex; }
.childarticleinfo		{ }
.childarticletitle		{ font-weight: bold; }
.childarticlemadestamp		{ padding-left: 1ex; }
.childarticlecontest		{ padding-left: 1ex; }
.childarticleplace		{ padding-left: 1ex; }



.navigator			{ text-align: center; }
.navigatorpagehead		{ font-weight: bold; }
.navigatorpageself		{ }
.navigatorpagelink		{ }



.linklist		{ }
.linklistorder		{ text-align: right; font-weight: bold; width: 1px; }
.linklisthref		{ text-align:  left; }

.filelist		{ }
.filelistorder		{ text-align: right; font-weight: bold; width: 1px; }
.filelisthref		{ text-align:  left; }

.pictlist		{ }
.pictlistorder		{ text-align: right; font-weight: bold; width: 1px; }
.pictlisthref		{ text-align:  left; }

.notelist		{ }
.notelistspacer		{ height: 1ex; }
.notelistauthor		{ text-align:    left; font-weight: bold; }
.noteliststamp		{ text-align:   right; font-weight: bold; }
.notelisttext		{ text-align: justify; padding-left: 1em; }
.notelistreply		{ text-align: justify; padding-left: 1em; color: maroon; }

.notelist		{ border-bottom: solid 1px navy; }
.notelistauthor		{ border-top: solid 1px navy; }
.noteliststamp		{ border-top: solid 1px navy; }

.linkmass		{ border-bottom: solid 1px navy; }
.filemass		{ border-bottom: solid 1px navy; }
.pictmass		{ border-bottom: solid 1px navy; }
.notemass		{ border-bottom: solid 1px navy; }
.linkmassline td	{ border-top: solid 1px navy; }
.filemassline td	{ border-top: solid 1px navy; }
.pictmassline td	{ border-top: solid 1px navy; }
.notemassline td	{ border-top: solid 1px navy; }
